<div class="container">

  <h2>Wings Events</h2>

  <div class="row">
    <div class="col">
      <button *ngIf="isLoggedIn" class="btn btn-primary" (click)="newEvent()">Create new Event</button>
    </div>
    <div class="col-auto" style="margin-top: auto; margin-bottom: auto;">
      <p *ngIf="displayEvents">(total {{displayEvents.length}})</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul *ngIf="displayEvents" class="events">
        <event-li *ngFor="let event of displayEvents; trackBy: trackByFn"
                  [event]="event"
                  [top]="findEventTop(event)"
                  [selectedEvent]="undefined"
                  [onSelect]="onSelect">
        </event-li>
      </ul>
      <loading *ngIf="displayEvents === undefined"></loading>
      <not-found *ngIf="displayEvents && displayEvents.length === 0"></not-found>
    </div>
  </div>
</div>
