<div class="container">
  <h2>Wings Place</h2>
  <div *ngIf="selectedPlace" class="places-details-container">
    <form (ngSubmit)="onSubmit()" #placeForm="ngForm">
      <div class="row">
        <div class="col">
          <h2>{{selectedPlace.title | uppercase}}</h2>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" (click)="goBack()">Close</button>
        </div>
      </div>
      <!--<h6 [style.visibility]="selectedPlace.id ? 'visible' : 'hidden'"><span>id: </span>{{selectedPlace.id}}</h6>-->
      <h6 [style.visibility]="!selectedPlace.id ? 'visible' : 'hidden'" class="text-info">*NEW*</h6>
      <div>
        <div class="row">
          <div class="col-auto">
            <label for="thumbnail">Thumbnail: </label>
          </div>
          <div class="col">
            <img
              id="thumbnail-img" name="thumbnail-img"
              height="120"
              alt="Place Logo"
              src="{{selectedPlace.thumbnail || './assets/wings_logo_40.png'}}"
            />
            <input id="thumbnail" name="thumbnail" [(ngModel)]="selectedPlace.thumbnail" placeholder="thumbnail"
                   [readonly]="!isLoggedIn"
                   [disabled]="!isLoggedIn"
                   #title="ngModel">
          </div>
        </div>
        <div class="row" *ngIf="selectedPlace.type">
          <div class="col-auto">
            <label for="type">Type: </label>
          </div>
          <div class="col">
            <input id="type" name="type" [(ngModel)]="selectedPlace.type" placeholder="type" #title="ngModel" readonly
                   disabled>
          </div>
        </div>
        <div class="row" *ngIf="selectedPlace.price">
          <div class="col-auto">
            <label for="price">Price: </label>
          </div>
          <div class="col">
            <input id="price" name="price" [(ngModel)]="selectedPlace.price" placeholder="price" #title="ngModel"
                   readonly
                   disabled>
          </div>
        </div>
        <div class="row" *ngIf="selectedPlace.rating">
          <div class="col-auto">
            <label for="rating">Rating: </label>
          </div>
          <div class="col">
            <input id="rating" name="rating" [(ngModel)]="selectedPlace.rating" placeholder="rating" #title="ngModel"
                   readonly disabled>
          </div>
        </div>
        <div class="row" *ngIf="selectedPlace.review">
          <div class="col-auto">
            <label for="review">Review: </label>
          </div>
          <div class="col">
            <input id="review" name="review" [(ngModel)]="selectedPlace.review" placeholder="review" #title="ngModel"
                   readonly disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <label for="title">Name: </label>
          </div>
          <div class="col">
            <input id="title" name="title" [(ngModel)]="selectedPlace.title" placeholder="title" #title="ngModel"
                   [readonly]="!isLoggedIn"
                   [disabled]="!isLoggedIn"
                   required>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <label for="address">Address: </label>
          </div>
          <div class="col">
            <input id="address" name="address" [(ngModel)]="selectedPlace.address" placeholder="address" #address="ngModel"
                   [readonly]="!isLoggedIn"
                   [disabled]="!isLoggedIn"
                   >
          </div>
          <div class="col-auto">
            <map-address-link [address]="selectedPlace.address"></map-address-link>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isLoggedIn">
        <div class="col">
          <button type="submit" class="btn btn-success" [disabled]="!placeForm.form.valid">Submit</button>
          <button type="button" class="btn btn-danger" (click)="deletePlace()">Delete</button>
        </div>
        <div class="col-auto">
        </div>
      </div>
    </form>

    <div [hidden]="!submitted">
      <h6>Record updated</h6>
    </div>
  </div>
  <loading *ngIf="selectedPlace === undefined"></loading>
  <not-found *ngIf="selectedPlace === null"></not-found>

  <div *ngIf="selectedPlace && selectedPlace.id" class="place-events">
    <div class="row">
      <div class="col-auto">
        <h3 *ngIf="placeEvents && placeEvents.length > 0">Events</h3>
        <h3 *ngIf="!placeEvents || placeEvents.length === 0">No Events yet :-(</h3>
      </div>
      <div class="col" style="text-align: right">
        <button *ngIf="isLoggedIn" type="button" class="btn btn-primary" (click)="newEvent()">Create New Event</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul *ngIf="placeEvents" class="events">
          <event-li *ngFor="let event of placeEvents"
                    [event]="event"
                    [selectedEvent]="undefined"
                    [onSelect]="onSelectEvent">
          </event-li>
        </ul>
        <loading *ngIf="placeEvents === undefined"></loading>
      </div>
    </div>
  </div>
</div>
