<div class="container">

  <h2>Wings Places</h2>
  <places-search [onSearchChange]="onSearchChange"></places-search>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="newPlace()">Add new Place</button>
    </div>
    <div class="col-auto" style="margin-top: auto; margin-bottom: auto;">
      <list-sorter *ngIf="displayPlaces && displayPlaces.length"
                   [fieldsNames]="['Name', 'Rating']"
                   [sortChanged]="onSortChanged">
        Sort by:
      </list-sorter>
    </div>
    <div class="col-auto" style="margin-top: auto; margin-bottom: auto;">
      <p *ngIf="displayPlaces">(total found {{displayPlaces.length}})</p>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <ul *ngIf="displayPlaces" class="places">
        <place-li *ngFor="let place of displayPlaces"
                  [place]="place"
                  [selectedPlace]="undefined"
                  [onSelect]="onSelect"
                  [placeEvents]="getEventsForPlace(place)"
                  [onPlaceEventClick]="onPlaceEventClick">
        </place-li>
      </ul>
      <loading *ngIf="displayPlaces === undefined"></loading>
      <not-found *ngIf="displayPlaces && displayPlaces.length === 0"></not-found>
    </div>
  </div>
</div>
