<div class="container">

  <h2>Wings Places</h2>
  <places-search [onSearchChange]="onSearchChange"></places-search>

  <places-details [selectedPlace]="selectedPlace" [onSelect]="onSelect" [onSubmit]="onSubmit"
                  [deletePlace]="deletePlace" [submitted]="submitted"></places-details>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="newPlace()">Add new Place</button>
    </div>
    <div class="col-auto" style="margin-top: auto; margin-bottom: auto;">
      <p>(total found {{displayPlaces.length}})</p>
    </div>

  </div>
  <div class="row">
    <div class="col-12 places-container">
      <ul class="places">
        <place-li *ngFor="let place of displayPlaces"
                  [place]="place"
                  [selectedPlace]="selectedPlace"
                  [onSelect]="onSelect">
        </place-li>
      </ul>
    </div>
  </div>
</div>
