<div class="container">

  <h2>Wings Event</h2>

  <div *ngIf="selectedEvent" class="events-details-container">
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
      <div class="row">
        <div class="col">
          <h2>On: {{(selectedEvent.eventDateStr | uppercase) || '-NEVER-'}} @ {{(selectedEvent.title |
            uppercase) || '-NOWHERE-'}}</h2>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" (click)="goBack()">Close</button>
        </div>
      </div>
      <!--<h6 [style.visibility]="selectedEvent.id ? 'visible' : 'hidden'"><span>id: </span>{{selectedEvent.id}}</h6>-->
      <h6 [style.visibility]="!selectedEvent.id ? 'visible' : 'hidden'" class="text-info">*NEW*</h6>
      <div>
        <div class="row">
          <div class="col-auto">
            <label for="date">Date: </label>
          </div>
          <div class="col datepicker">
            <input type="date" id="date" name="date" [(ngModel)]="selectedEvent.date"
                   placeholder="date" #title="ngModel"
                   required
                   [readonly]="!isLoggedIn"
                   [disabled]="!isLoggedIn"
            >
          </div>
          <div class="col-2 datepicker">
          <input type="time" id="time" name="time" [(ngModel)]="selectedEvent.time"
                 min="17:00" max="20:00" step="00:30" #title="ngModel"
                 list="time_list"
                 required
                 [readonly]="!isLoggedIn"
                 [disabled]="!isLoggedIn"
          >
            <datalist id="time_list">
              <option value="17:00">
              <option value="17:30">
              <option value="18:00">
              <option value="18:30">
              <option value="19:00">
              <option value="19:30">
              <option value="20:00">
            </datalist>
          </div>
          <div class="col-auto">
            <button *ngIf="!selectedEvent.date" type="button" class="btn btn-primary" (click)="suggestEventDate()">
              Recommend a date?
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <label for="place">Place: </label>
          </div>
          <div class="col">
            <input id="place" name="place" [ngModel]="eventPlaceName" placeholder="place" readonly
                   (click)="pickPlacePopup()"
                   [readonly]="!isLoggedIn"
                   [disabled]="!isLoggedIn"
            >
          </div>
          <div class="col-auto">
            <button *ngIf="selectedEvent.place_id" type="button" class="btn btn-primary" (click)="onEventPlaceClick()">
              See details...
            </button>
            <button *ngIf="!selectedEvent.place_id" type="button" class="btn btn-primary" (click)="suggestEventPlace()">
              Recommend a Place?
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button *ngIf="isLoggedIn" type="submit" class="btn btn-success" [disabled]="!eventForm.form.valid">Submit
          </button>
          <button *ngIf="isLoggedIn" type="button" class="btn btn-danger" (click)="deleteEvent()">Delete</button>
        </div>
        <div class="col-auto">
          <div id="event-rating" class="card bg-info text-warning">
            <div id="event-rating-value">{{selectedEvent.event_rating !== undefined ? (selectedEvent.event_rating |
              number :
              '1.2-2') : 'n/a'}}
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </form>

    <div [hidden]="!submitted">
      <h6 class="alert-success">Record updated</h6>
      <img
        *ngIf="!mailSent && mailErr === undefined"
        width="30"
        height="30"
        alt="Loading..."
        src="./assets/loading-buffering.gif"
      />
      <h6 *ngIf="mailSent && !mailErr" class="alert-success">
        Message sent.
      </h6>
      <h6 *ngIf="mailSent && mailErr" class="alert-danger">
        Error: {{mailErr}}.
      </h6>
    </div>
  </div>
  <loading *ngIf="selectedEvent === undefined"></loading>
  <not-found *ngIf="selectedEvent === null"></not-found>

  <div *ngIf="selectedEvent && selectedEvent.id" class="event-reviews">
    <div class="row">
      <div class="col-auto">
        <h3 *ngIf="eventReviews && eventReviews.length > 0">Reviews</h3>
        <h3 *ngIf="!eventReviews || eventReviews.length === 0">No Reviews yet :-(</h3>
      </div>
      <div class="col" style="text-align: right">
        <button *ngIf="isLoggedIn" type="button" class="btn btn-primary" (click)="newReview()">Leave a Review</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul *ngIf="eventReviews" class="reviews">
          <review-li *ngFor="let review of eventReviews"
                     [review]="review"
                     [onSelect]="onSelectReview"
                     [reviewAuthor]="getTasterForReview(review)"
          >
          </review-li>
        </ul>
        <!--<loading *ngIf="placeEvents === undefined"></loading>-->
      </div>
    </div>
  </div>

  <div *ngIf="selectedEvent && selectedEvent.id" class="event-reviews">
    <ul *ngIf="eventReviews" class="reviews">
      <li *ngFor="let review of eventReviews">
        <ul *ngIf="review.images" class="reviews">
          <li *ngFor="let image of review.images;">
            <div class="row">
              <div class="col"></div>
              <div class="col-auto align-self-center">
                <image-viewer
                  width="80%"
                  src="{{image}}"
                ></image-viewer>
              </div>
              <div class="col"></div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <!--<loading *ngIf="placeEvents === undefined"></loading>-->
  </div>
</div>

