<div class="container">

  <h2>Wings Event</h2>

  <div *ngIf="selectedEvent" class="events-details-container">
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
      <div class="row">
        <div class="col">
          <h2>On: {{(selectedEvent.date | date : 'longDate' | uppercase) || '-NEVER-'}} @ {{(selectedEvent.title |
            uppercase) || '-NOWHERE-'}}</h2>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" (click)="goBack()">Close</button>
        </div>
      </div>
      <h6 [style.visibility]="selectedEvent.id ? 'visible' : 'hidden'"><span>id: </span>{{selectedEvent.id}}</h6>
      <div>
        <div class="row">
          <div class="col-auto">
            <label for="date">Date: </label>
          </div>
          <div class="col datepicker">
            <input type="date" id="date" name="date" [(ngModel)]="selectedEvent.date" value="YYYY-MM-DD"
                   placeholder="date" #title="ngModel"
                   required
                   [readonly]="!isLoggedIn"
                   [disabled]="!isLoggedIn"
            >
          </div>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-auto">-->
        <!--<label for="title">Name: </label>-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<input id="title" name="title" [(ngModel)]="selectedEvent.title" placeholder="title" #title="ngModel"-->
        <!--required>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
          <div class="col-auto">
            <label for="place">Place: </label>
          </div>
          <div class="col">
            <input id="place" name="place" [ngModel]="eventPlaceName" placeholder="place" readonly
                   (click)="pickPlacePopup()"
                   [readonly]="!isLoggedIn"
                   [disabled]="!isLoggedIn"
            >
          </div>
          <div class="col-auto">
            <button *ngIf="selectedEvent.place_id" type="button" class="btn btn-primary" (click)="onEventPlaceClick()">
              Details...
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button *ngIf="isLoggedIn" type="submit" class="btn btn-success" [disabled]="!eventForm.form.valid">Submit
          </button>
          <button *ngIf="isLoggedIn" type="button" class="btn btn-danger" (click)="deleteEvent()">Delete</button>
        </div>
        <div class="col-auto">
          <div id="event-rating" class="card bg-info text-warning">
            <div id="event-rating-value">{{selectedEvent.event_rating !== undefined ? (selectedEvent.event_rating |
              number :
              '1.2-2') : 'n/a'}}
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </form>

    <div [hidden]="!submitted">
      <h6>Record updated</h6>
    </div>
  </div>
  <loading *ngIf="selectedEvent === undefined"></loading>
  <not-found *ngIf="selectedEvent === null"></not-found>

  <div *ngIf="selectedEvent && selectedEvent.id" class="event-reviews">
    <div class="row">
      <div class="col-auto">
        <h3 *ngIf="eventReviews && eventReviews.length > 0">Reviews</h3>
        <h3 *ngIf="!eventReviews || eventReviews.length === 0">No Reviews yet :-(</h3>
      </div>
      <div class="col" style="text-align: right">
        <button *ngIf="isLoggedIn" type="button" class="btn btn-primary" (click)="newReview()">Leave a Review</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul *ngIf="eventReviews" class="reviews">
          <review-li *ngFor="let review of eventReviews"
                     [review]="review"
                     [onSelect]="onSelectReview"
                     [reviewAuthor]="getTasterForReview(review)"
          >
          </review-li>
        </ul>
        <!--<loading *ngIf="placeEvents === undefined"></loading>-->
      </div>
    </div>
  </div>
</div>

